name: test

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    types: [opened, reopened, synchronize]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    name: Build, Format & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Build
        run: forge build --sizes

      - name: Format check
        run: forge fmt --check

      - name: Test
        run: forge test -vvv
