name: test-ffi

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    types: [opened, reopened, synchronize]

env:
  FOUNDRY_PROFILE: ci-ffi

jobs:
  check:
    name: Build, Format & Test (FFI)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Build
        run: forge build --sizes

      - name: Format check
        run: forge fmt --check

      - name: Set up FFI
        run: |
          cd ./test-ffi/scripts
          yarn install
          cd ../tmp
          touch temp.json

      - name: Test
        run: forge test -vvv

      - name: Clear temp files
        run: |
          cd ./test-ffi/tmp
          find . -maxdepth 1 -name 'temp*' -exec rm -f {} \;
